# Base de Datos
DB_USER=postgres
DB_PASS=your_database_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=grupo63

# Email (Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password

# Flask
SECRET_KEY=your_secret_key_here
