{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Menú lateral -->
    <div class="col-md-3 col-lg-2 bg-dark text-white p-4" style="min-height: 100vh;">
      <h4><i class="bi bi-bar-chart"></i> Estadísticas</h4>
      <hr class="bg-light">
      <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white {% if request.endpoint == 'estadisticas.calificaciones' %}bg-secondary{% endif %}" 
            href="{{ url_for('estadisticas.calificaciones') }}">
            <i class="bi bi-star"></i> Calificaciones
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white {% if request.endpoint == 'estadisticas.promedio_alquileres' %}bg-secondary{% endif %}" 
            href="{{ url_for('estadisticas.promedio_alquileres') }}">
            <i class="bi bi-graph-up"></i> Promedio de Alquileres
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white {% if request.endpoint == 'estadisticas.alquileres_por_sucursal' %}bg-secondary{% endif %}" 
            href="{{ url_for('estadisticas.alquileres_por_sucursal') }}">
            <i class="bi bi-building"></i> Alquileres por Sucursal
            </a>
        </li>
        </ul>
    </div>

    <!-- Contenido variable -->
    <div class="col-md-9 col-lg-10 p-4">
      {% block estadisticas_content %}
      <h2>Bienvenido al Panel de Estadísticas</h2>
      <p>Seleccioná una opción del menú para comenzar a visualizar los reportes.</p>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
