{% extends "base_index.html" %}

{% block header %}
Usuarios
{% if session.get("user_id") and has_permission(session.get("user_id"), "user_create") %}
    <a href="{{ url_for('usuarios.register') }}" class="btn btn-success btn-sm ms-3">Registrar usuario</a>
{% endif %}
{% endblock %}

{% block table_header %}
<tr>
    <th>ID</th>
    <th>Email</th>
    <th>Rol</th>
    <th>Acciones</th>
</tr>
{% endblock %}

{% block table_body %}
{% for user in users %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.role.name }}</td>
    <td>
        <a href="{{ url_for('usuarios.show', user_id=user.id) }}" class="btn btn-info btn-sm">Ver perfil</a>
    </td>
</tr>
{% endfor %}
{% endblock %}
