{% extends "base_register.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="w-100" style="max-width: 1000px;">
        <h1 class="mb-4 text-center titulo-principal">
            {% if es_empleado %}
                Registrar Empleado
            {% elif is_update %}
                Actualizar Usuario
            {% else %}
                Registrar Usuario
            {% endif %}
        </h1>
        <form method="POST" enctype="multipart/form-data" class="p-4 rounded border border-main shadow-sm bg-white mx-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control border-main" name="email" value="{{ user.email if user else '' }}" {% if is_update %}disabled{% endif %} required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" placeholder="Debe tener al menos 6 caracteres" class="form-control border-main" name="password" {% if is_update %}placeholder="Dejar vacío para no cambiar"{% endif %} {% if not is_update %}required{% endif %}>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="fecha_nacimiento" class="form-label">Fecha de nacimiento: (*)</label>
                            <input type="date" class="form-control border-main" name="fecha_nacimiento" value="{{ user.fecha_nacimiento if user else '' }}" {% if is_update %}disabled{% endif %} required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control border-main" name="nombre" value="{{ user.nombre if user else '' }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" class="form-control border-main" name="apellido" value="{{ user.apellido if user else '' }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="dni" class="form-label">DNI:</label>
                            <input type="text" pattern="[0-9]+" title="Solo números" class="form-control border-main" minlength="7" maxlength="8" name="dni" value="{{ user.dni if user else '' }}" {% if is_update %}disabled{% endif %} required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="telefono" class="form-label">Teléfono (opcional):</label>
                            <input type="tel" class="form-control border-main" name="telefono" value="{{ user.telefono if user else '' }}">
                        </div>
                        
                        <p class="mt-1 text-muted" style="font-size: 0.95em;">* El usuario debe ser mayor de edad</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-main px-4">
                        {% if es_empleado %}
                            Registrar Empleado
                        {% elif is_update %}
                            Actualizar
                        {% else %}
                            Registrar Usuario
                        {% endif %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
