{% extends "base_index.html" %}

{% block header %}Listado de Sucursales{% endblock %}

{% block table_header %}
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Ubicación</th>
    <th>Acciones</th>
</tr>
{% endblock %}

{% block table_body %}
{% for sucursal in sucursales %}
<tr>
    <td>{{ sucursal.id }}</td>
    <td>{{ sucursal.nombre }}</td>
    <td>{{ sucursal.ubicacion }}</td>
    <td>
        <a href="{{ url_for('sucursales.show', id=sucursal.id) }}" class="btn btn-info">Ver</a>
    </td>
</tr>
{% endfor %}
{% endblock %}
