{% extends "base_index.html" %}

{% block header %}Listado de Sucursales{% endblock %}

{% block extra_content %}
    {% if session.get("user_role") == "admin" %}
        <div class="mb-3 text-end">
            <a href="{{ url_for('sucursales.register') }}" class="btn btn-main">
                <i class="bi bi-plus-circle"></i> Registrar sucursal
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block table_header %}
<tr>
    <th>Nombre</th>
    <th>Ubicación</th>
</tr>
{% endblock %}

{% block table_body %}
{% for sucursal in sucursales %}
<tr>
    <td>{{ sucursal.nombre }}</td>
    <td>{{ sucursal.ubicacion }}</td>
</tr>
{% endfor %}
{% endblock %}
