{% extends "base.html" %}

{% block content %}
<h1>Inicio Global</h1>
<form method="POST">
    <label for="sucursal">Sucursal:</label>
    <select name="sucursal" id="sucursal" required>
        <option value="" disabled selected>Seleccione una sucursal</option>
        {% for sucursal in sucursales %}
        <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
        {% endfor %}
    </select>

    <label for="fecha_inicio">Fecha Inicio:</label>
    <input type="date" name="fecha_inicio" id="fecha_inicio" required>

    <label for="fecha_fin">Fecha Fin:</label>
    <input type="date" name="fecha_fin" id="fecha_fin" required>

    <button type="submit">Buscar</button>
</form>
{% endblock %}
