{% extends "base_index.html" %}

{% block header %}
Listado de Vehículos 
{% endblock %}

{% block table_header %}
<tr>
    <th>Patente</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Categoría</th>
    <th>Año</th>
    <th>Asientos</th>
    <th>Precio</th>
    <th>Sucursal</th>
    <th>Estado</th>
    <th>Acciones</th>
</tr>
{% endblock %}

{% block table_body %}
{% for vehiculo in vehiculos %}
<tr>
    <td>{{ vehiculo.patente }}</td>
    <td>{{ vehiculo.marca }}</td>
    <td>{{ vehiculo.modelo }}</td>
    <td>{{ vehiculo.categoria }}</td>
    <td>{{ vehiculo.anio }}</td>
    <td>{{ vehiculo.asientos }}</td>
    <td>{{ vehiculo.precio }}</td>
    <td>{{ vehiculo.sucursal.nombre }} - {{ vehiculo.sucursal.ubicacion }}</td>
    <td>{{ "Activo" if not vehiculo.en_mantenimiento else "En mantenimiento" }}</td>
    <td>
        <a href="{{ url_for('vehiculos.show', id=vehiculo.id) }}" class="btn btn-info">Ver</a>
        
    </td>
</tr>
{% endfor %}
{% endblock %}
