{% extends "base_register.html" %}


{% block content %}
<h1 class="mb-4">{% if is_update %}Actualizar Vehículo{% else %}Registrar Vehículo{% endif %}</h1>
<form method="POST" enctype="multipart/form-data" class="p-4 rounded border border-main shadow-sm" style="background:#fff; max-width:700px;">
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label for="patente" class="form-label">Patente:</label>
            <input type="text" class="form-control border-main" name="patente" value="{{ vehiculo.patente if is_update else '' }}" {% if is_update %}disabled{% endif %} required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="modelo" class="form-label">Modelo:</label>
            <input type="text" class="form-control border-main" name="modelo" value="{{ vehiculo.modelo if is_update else '' }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="marca" class="form-label">Marca:</label>
            <input type="text" class="form-control border-main" name="marca" value="{{ vehiculo.marca if is_update else '' }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="anio" class="form-label">Año:</label>
            <input type="number" class="form-control border-main" name="anio" value="{{ vehiculo.anio if is_update else '' }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="number" class="form-control border-main" name="precio" value="{{ vehiculo.precio if is_update else '' }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="categoria" class="form-label">Categoría:</label>
            <input type="text" class="form-control border-main" name="categoria" value="{{ vehiculo.categoria if is_update else '' }}" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="asientos" class="form-label">Asientos:</label>
            <input type="number" class="form-control border-main" name="asientos" value="{{ vehiculo.asientos if is_update else '' }}" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="sucursal_id" class="form-label">Sucursal:</label>
            <select name="sucursal_id" class="form-select border-main" required>
                <option value="" disabled {% if not is_update %}selected{% endif %}>Seleccione una sucursal</option>
                {% for s in sucursales %}
                    <option value="{{ s.id }}" {% if is_update and vehiculo.sucursal_id == s.id %}selected{% endif %}>
                        {{ s.nombre }} - {{ s.ubicacion }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-main px-4">{% if is_update %}Actualizar{% else %}Registrar Vehículo{% endif %}</button>
</form>
{% endblock %}
