{% extends "base_show.html" %}

{% block header %}Vehículo: {{ vehiculo.patente }}{% endblock %}

{% block details %}
<p><strong>Modelo:</strong> {{ vehiculo.modelo }}</p>
<p><strong>Marca:</strong> {{ vehiculo.marca }}</p>
<p><strong>Año:</strong> {{ vehiculo.anio }}</p>
<p><strong>Categoría:</strong> {{ vehiculo.categoria }}</p>
<p><strong>Asientos:</strong> {{ vehiculo.asientos }}</p>
<p><strong>Sucursal:</strong> {{ vehiculo.sucursal.nombre }}</p>

<div>
    <a href="{{ url_for('reservas.pago', vehiculo_id=vehiculo.id, fecha_inicio=request.args.get('fecha_inicio'), fecha_fin=request.args.get('fecha_fin')) }}"
        class="btn btn-success mt-2">Reservar</a>
</div>
{% endblock %}